<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mercury.basedriver.Basedriver"/>
      <class name="com.mercury.testcases.TC1"/>
       <class name="com.mercury.testcases.TC2"/>     
      <class name="com.mercury.testcases.TC3"/>
       <class name="com.mercury.testcases.TC4"/>
        <class name="com.mercury.testcases.TC5"/>     
      <class name="com.mercury.testcases.TC6"/> 
      <class name="com.mercury.testcases.TC7"/>   
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
